[Unit]
Description=Gunicorn instance to serve AirBnB Clones
After=network.target

[Service]
User=ubuntu  # Replace 'ubuntu' with the user running the application
# Set working directory
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4/  # Replace '/path/to/your/application' with the directory containing your Python script
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb-error.log
# Restarting service if it fails
Restart=always
# Redirecting to the syslog
StandardOutput=append:/tmp/airbnb-access.log
StandardError=append:/tmp/airbnb-error.log
# Identifier for the syslog message
SyslogIdentifier=gunicorn

[Install]
WantedBy=multi-user.target
